Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HolaMundo">
        <s:complexType />
      </s:element>
      <s:element name="HolaMundoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HolaMundoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Adios">
        <s:complexType />
      </s:element>
      <s:element name="AdiosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdiosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sumar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Operaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OperacionesResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tabla">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TablaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TablaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Bisiestos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="añoinicial" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="añofinal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BisiestosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BisiestosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HolaMundoSoapIn">
    <wsdl:part name="parameters" element="tns:HolaMundo" />
  </wsdl:message>
  <wsdl:message name="HolaMundoSoapOut">
    <wsdl:part name="parameters" element="tns:HolaMundoResponse" />
  </wsdl:message>
  <wsdl:message name="AdiosSoapIn">
    <wsdl:part name="parameters" element="tns:Adios" />
  </wsdl:message>
  <wsdl:message name="AdiosSoapOut">
    <wsdl:part name="parameters" element="tns:AdiosResponse" />
  </wsdl:message>
  <wsdl:message name="SumarSoapIn">
    <wsdl:part name="parameters" element="tns:Sumar" />
  </wsdl:message>
  <wsdl:message name="SumarSoapOut">
    <wsdl:part name="parameters" element="tns:SumarResponse" />
  </wsdl:message>
  <wsdl:message name="OperacionesSoapIn">
    <wsdl:part name="parameters" element="tns:Operaciones" />
  </wsdl:message>
  <wsdl:message name="OperacionesSoapOut">
    <wsdl:part name="parameters" element="tns:OperacionesResponse" />
  </wsdl:message>
  <wsdl:message name="TablaSoapIn">
    <wsdl:part name="parameters" element="tns:Tabla" />
  </wsdl:message>
  <wsdl:message name="TablaSoapOut">
    <wsdl:part name="parameters" element="tns:TablaResponse" />
  </wsdl:message>
  <wsdl:message name="BisiestosSoapIn">
    <wsdl:part name="parameters" element="tns:Bisiestos" />
  </wsdl:message>
  <wsdl:message name="BisiestosSoapOut">
    <wsdl:part name="parameters" element="tns:BisiestosResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HolaMundo">
      <wsdl:input message="tns:HolaMundoSoapIn" />
      <wsdl:output message="tns:HolaMundoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Adios">
      <wsdl:input message="tns:AdiosSoapIn" />
      <wsdl:output message="tns:AdiosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sumar">
      <wsdl:input message="tns:SumarSoapIn" />
      <wsdl:output message="tns:SumarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Operaciones">
      <wsdl:input message="tns:OperacionesSoapIn" />
      <wsdl:output message="tns:OperacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tabla">
      <wsdl:input message="tns:TablaSoapIn" />
      <wsdl:output message="tns:TablaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Bisiestos">
      <wsdl:input message="tns:BisiestosSoapIn" />
      <wsdl:output message="tns:BisiestosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HolaMundo">
      <soap:operation soapAction="http://tempuri.org/HolaMundo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adios">
      <soap:operation soapAction="http://tempuri.org/Adios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar">
      <soap:operation soapAction="http://tempuri.org/Sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Operaciones">
      <soap:operation soapAction="http://tempuri.org/Operaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tabla">
      <soap:operation soapAction="http://tempuri.org/Tabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bisiestos">
      <soap:operation soapAction="http://tempuri.org/Bisiestos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HolaMundo">
      <soap12:operation soapAction="http://tempuri.org/HolaMundo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adios">
      <soap12:operation soapAction="http://tempuri.org/Adios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar">
      <soap12:operation soapAction="http://tempuri.org/Sumar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Operaciones">
      <soap12:operation soapAction="http://tempuri.org/Operaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tabla">
      <soap12:operation soapAction="http://tempuri.org/Tabla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bisiestos">
      <soap12:operation soapAction="http://tempuri.org/Bisiestos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:60450/WS/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:60450/WS/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>